* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
/* one */
one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #434750;
}
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
one ul {
  position: relative;
  transform: skewY(-15deg);
}
one ul li {
  position: relative;
  list-style: none;
  width: 200px;
  padding: 15px;
  background: #3e3f46;
  z-index: calc(1 * var(--i));
  transition: 0.5s;
}
one ul li:hover {
  background: #33a3ee;
  transform: translateX(-50px);
}
one ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #2e3133;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}
one ul li:hover::before {
  background: #1f5378;
}
one ul li::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: #35383e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}
one ul li:hover::after {
  background: #2982b9;
}
one ul li p {
  text-decoration: none;
  color: #999;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
one ul li:hover p {
  color: #fff;
}
one ul li:last-child::after {
  box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}
/* two */
two {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}
.loader {
  position: absolute;
  width: 400px;
  height: 4px;
  background-color: #000;
}

.loader::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0bec7c;
  transform-origin: left;
  animation: amimate 8s linear infinite;
}

@keyframes amimate {
  0%,
  20% {
    transform: scaleX(0);
  }
  40% {
    transform: scaleX(1);
    transform-origin: left;
  }
  40.0000001%,
  60% {
    transform: scaleX(1);
    transform-origin: right;
  }
  80%,
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.loader::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #0bec7c;
  border-radius: 50%;
  transform: translateY(-50%) scale(0);
  animation: animateDot 8s linear infinite;
}

@keyframes animateDot {
  0% {
    transform: translateY(-50%) scale(0);
  }
  5% {
    transform: translateY(-50%) scale(1);
  }
  15%,
  20% {
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 0 4px #0bec7c22, 0 0 0 10px #0bec7c22, 0 0 20px #0bec7c,
      0 0 40px 5px #0bec7c, 0 0 60px 10px #0bec7c;
  }
  40% {
    transform: translateY(-50%) translateX(395px) scale(1);
  }
  80% {
    transform: translateY(-50%) translateX(395px) scale(1);
    box-shadow: 0 0 0 4px #0bec7c22, 0 0 0 10px #0bec7c22, 0 0 20px #0bec7c,
      0 0 40px 5px #0bec7c, 0 0 60px 10px #0bec7c;
  }
  95% {
    transform: translateY(-50%) translateX(395px) scale(1);
    box-shadow: none;
  }
  100% {
    transform: translateY(-50%) translateX(395px) scale(0);
  }
}
/* three */
three {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
:root {
  /* 定义全局变量 圆弧的宽度 */
  --w: 200px;
}

.three {
  width: var(--w);
  height: var(--w);
  /* 圆角 */
  border-radius: 50%;
  /* 设置内阴影 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
  /* 设置相对定位 */
  position: relative;
}

/* 添加伪元素 */
three div::before {
  content: "";
  /* 宽高为父元素一致 */
  width: 100%;
  height: 100%;
  /* 同样设置为圆角 */
  border-radius: 50%;
  /* 设置绝对定位 left 为0 top为0 */
  position: absolute;
  left: 0;
  top: 0;
  /* 添加内阴影 */
  box-shadow: 0 4px 0 #f2a115 inset;
  /* 添加旋转动画 */
  animation: rotates 2s infinite linear;
}

/* 定义旋转动画 */
@keyframes rotates {
  0% {
    transform: rotate(0deg);
  }

  100% {
    /* 1turn 即为360deg */
    transform: rotate(1turn);
  }
}
/* four */
four {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f3542;
}
.loade {
  width: 100px;
  position: relative;
}

.loade div {
  width: 30px;
  height: 30px;
  background: #0abde3;
  position: absolute;
  left: calc(var(--i) * 30px);
  animation: four 2s linear infinite;
  animation-delay: calc(var(--i) * -400ms);
}

@keyframes four {
  0% {
    left: 150px;
    top: 0px;
  }

  80% {
    left: 0px;
    top: 0px;
  }

  85% {
    left: 0px;
    top: -30px;
    width: 30px;
    height: 30px;
  }

  88% {
    left: 0px;
    top: -30px;
  }

  90% {
    width: 60px;
    height: 25px;
  }

  95% {
    left: 150px;
    top: -30px;
    width: 30px;
    height: 30px;
  }

  99% {
    left: 150px;
    top: -30px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}
/* five */
five {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
  color: #fff;
  overflow: hidden;
  height: 100vh;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 定义全局变量 */
:root {
  --color: #222;
  --bg: orange;
  --w: 100px;
  --t: 450px;
  --c: 70px;
}

.container {
  background: #fff;
  width: var(--t);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: var(--w);
  cursor: pointer;
}

.item span {
  font-size: 20px;
  position: relative;
  z-index: 1;
  /* 添加过渡效果 */
  transition: all 0.5s;
}

.item p {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  color: var(--color);
  transform: translateY(20px);
  /* 添加过渡效果 */
  transition: all 0.5s;
  /* 默认透明度为0，不显示 */
  opacity: 0;
}

/* 添加hover事件，以及选中样式 */
.item:hover p,
.item.active p {
  opacity: 1;
  transform: translateY(12px);
}

.item:hover span,
.item.active span {
  transform: translateY(-35px);
}

.active-box {
  position: absolute;
  width: var(--c);
  height: var(--c);
  background: var(--bg);
  --left-pad: calc(var(--t) - (4 * var(--w)));
  top: -50%;
  left: calc((var(--left-pad) / 2) + (var(--w) / 2) - (var(--c) / 2));
  border-radius: 50%;
  border: 4px solid var(--color);
  /* 添加过渡效果 */
  transition: all 0.5s;
  /* 设置选中圆环的transform */
  transform: translateX(calc(var(--w) * var(--n)));
}

.active-box::before,
.active-box::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
}

.active-box::before {
  left: -20px;
  border-radius: 0 20px 0 0;
  box-shadow: 0 -10px 0 0 var(--color);
}

.active-box::after {
  right: -20px;
  border-radius: 20px 0 0 0;
  box-shadow: 0 -10px 0 0 var(--color);
}
/* seven */
seven {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

seven p {
  margin: 0 20%;
}

.glowIn {
  color: white;
}

.glowIn span {
  animation: fade 0.5s both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 1;
    text-shadow: 0 0 25px white;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}
/* eight */
eight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.containers {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 #00000038;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
}

.card-body {
  padding: 20px;
}

.card-img {
  height: 100px;
}

.card-title {
  height: 28px;
  border-radius: 4px;
}

.card-intro {
  height: 72px;
  border-radius: 4px;
}

@keyframes shine {
  from {
    background-position: 100%;
  }

  to {
    background-position: 0;
  }
}

.skeleton {
  background-image: linear-gradient(
    45deg,
    #e2e5e7 0%,
    #e2e5e7 40%,
    #f7f7f7 50%,
    #f7f7f7 55%,
    #e2e5e7 66%,
    #e2e5e7 100%
  );
  background-size: 400%;
  animation: shine 1s linear infinite;
}
